@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #261A28;
}

/* Create columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Right column */
.column.right {
  width: 45%;
}

/* Left column */
.column.left {
  width: 20%;
}
/* Middle column */
.column.middle {
  width: 35%;
}


/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.left, .column.middle, .column.right {
    width: 100%;
  }
}

#middle_pane {
  background-color: #261A28;
  padding: 50px;
  border-radius: 40px;
  color: white;
}
.subsection {
  padding: 10px;
  color: white;
}
.subsection.left {
  float: left;
  width: 30%;
}
.subsection.right {
  float: left;
  width: 70%;
}
button {
  background-color: #C43333;
  border-radius: 10px;
  color: white;

}
input[type="range"]{
  accent-color: #C43333;
  width: 200px;
}
span {
  padding-left: 10px
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
iframe {
  border-radius: 4px;
  padding: 5px;
}